$slow: 500ms
$medium: 350ms
$fast: 200ms

$opaque: 1.0
$translucent: 0.6
$transparent: 0.0

// Layout defaults
$footer-height: 30px
$header-height: 28px

// Z index
$low-priority: 1
$medium-priority: 999
$high-priority: 9999
$highest-priority: 99999

$site-background: image-url("worn_dots.png")
$site-background-size: 200px

*
  +box-sizing(border-box)

html, body
  font:
    family: $basic-fonts
    size: 16px
  background-color: $background-color
  // background: $site-background
  // background-size: $site-background-size

a
  color: $gray
  font-weight: bold
  text-decoration: none

  // Removes Firefox's outline on links.
  // REFACTOR: This might make keyboard navigation difficult.
  outline: none

  &:hover
    color: lighten($gray, 20%)
    text-decoration: underline

del
  text-decoration: line-through

sup
  vertical-align: super
  font-size: 0.7em

strong
  font-weight: bold

.clearfix
  content: "."
  display: block
  height: 0
  clear: both
  visibility: hidden

#container
  height: 100%
  padding-bottom: $footer-height

  &.fullscreen
    margin: 0
    padding: 0

#content
  margin-top: $header-height

.site-footer
  position: fixed
  bottom: 0

  background-color: transparentize($white, 0.1)

  width: 100%
  height: $footer-height
  padding: 8px 10px
  border-top: $gray dotted 1px

  font-size: 0.7em

  .copyright, .repository
    display: inline-block

  .repository
    float: right


.site-header
  position: fixed
  top: 0

  width: 100%
  height: $header-height
  z-index: $medium-priority

  background-color: transparentize($white, 0.1)

  .site-navigation
    display: inline-block
    height: 100%
    text-transform: uppercase
    ul
      height: 100%
      margin: 0
      padding: 0

      li
        height: 100%
        display: inline-block

        &:hover
          +transition-property(background)
          +transition-duration($medium)
          background-color: $turquoise
          color: $white

        a
          display: inline-block
          padding: 3px 10px
          color: inherit
          font-weight: inherit
          text-decoration: inherit

  .message-center
    font-family: monospace

    min-height: 100%
    display: none
    text-align: right
    float: right

    .accent
      +animation-name(blink)
      +animation-duration(1s)
      +animation-timing-function(linear)
      +animation-iteration-count(infinite)
      display: inline-block

    .messages
      display: inline-block
      min-height: 100%
      margin: 0
      padding: 0
      list-style: none

      li
        color: $white
        background-color: $black
        padding: 6px 10px


.logo
  display: inline-block
  padding: 8px 6px

  &:hover, &.rotating
    .inner
      +animation-name(tiltRotate)
      +animation-duration(5s)
      +animation-fill-mode(forwards)
      +animation-timing-function(linear)
      +animation-iteration-count(infinite)

  &.small
    zoom: 0.2

  .inner
    +transform(rotate(45deg))

    height: 64px
    width: 64px

    .box
      display: inline-block
      float: left
      margin: 3px

      width: 25px
      height: 25px


.modal
  z-index: $highest-priority
  width: 600px
  margin: 60px auto 40px
  padding: 2px 20px 16px

  position: absolute
  left: 50%
  margin-left: -300px
  top: 40px

  border: 1px solid darken($white, 2%)
  +linear-gradient(315deg, hsla(0, 0%, 100%, 0.9), hsla(0, 0%, 97%, 0.95))
  box-shadow: inset 1px 1px 0px hsl(0, 0%, 99%), 12px 16px 44px hsla(0, 0%, 77%, 0.5)

  .modal-header
    text-align: center

.veil
  display: none
  background: $site-background
  background-size: $site-background-size

  opacity: 0.5
  z-index: $high-priority
  position: fixed
  top: 0
  left: 0
  height: 100%
  width: 100%


// Correct highlighted text selection
::selection
  text-shadow: none
  color: $white
  background: $black


::-webkit-scrollbar
  height: 4px
  width: 4px


::-webkit-scrollbar-track
  background-color: $off-white

::-webkit-scrollbar-track-piece
  background-color: $off-white
  &:hover
    background-color: darken($off-white, 20%)

::-webkit-scrollbar-thumb
  background-color: #666
  border-radius: 1px

::-webkit-scrollbar-corner
  background-color: $off-white