$slow: 500ms
$medium: 350ms
$fast: 200ms

$opaque: 1.0
$translucent: 0.6
$transparent: 0.0

// Layout defaults
$footer-height: 30px
$header-height: 28px

// Z index
$low-priority: 1
$medium-priority: 999
$high-priority: 9999

$site-background: image-url("worn_dots.png")
$site-background-size: 200px

*
  +box-sizing(border-box)

html, body
  font:
    family: $basic-fonts
    size: 16px
  background-color: $background-color
  // background: $site-background
  // background-size: $site-background-size
  height: 100%

a
  color: $gray
  font-weight: bold
  text-decoration: none

  // Removes Firefox's outline on links.
  // REFACTOR: This might make keyboard navigation difficult.
  outline: none

  &:hover
    color: lighten($gray, 20%)
    text-decoration: underline

del
  text-decoration: line-through

sup
  vertical-align: super
  font-size: 0.7em

strong
  font-weight: bold

.clearfix
  content: "."
  display: block
  height: 0
  clear: both
  visibility: hidden

.container
  min-height: 100%

.wrapper
  padding-bottom: $footer-height
  overflow: auto

.content
  margin-top: $header-height
  padding: 20px 15px

.site-footer
  clear: both
  height: $footer-height
  margin-top: -$footer-height
  padding: 8px 10px
  border-top: $gray dotted 1px

  font-size: 0.7em

  .copyright, .repository
    display: inline-block

  .repository
    float: right


.site-header
  width: 100%
  height: $header-height
  z-index: $medium-priority
  border-bottom: 1px #222 dotted

  .site-navigation
    height: 100%
    text-transform: uppercase
    ul
      height: 100%
      li
        padding: 5px 10px
        height: 100%
        display: inline-block

        &:hover
          +transition-property(background)
          +transition-duration($medium)
          background-color: $black
          color: $white


.logo
  display: inline-block
  padding: 8px 6px

  &:hover
    .inner
      +animation-name(tiltRotate)
      +animation-duration(5s)
      +animation-fill-mode(forwards)
      +animation-timing-function(linear)
      +animation-iteration-count(infinite)

  .inner
    +transform(rotate(45deg))

    height: 64px
    width: 64px

    .box
      background: #000
      display: inline-block
      float: left
      margin: 3px

      width: 25px
      height: 25px


// Correct highlighted text selection
::selection
  text-shadow: none
  color: $white
  background: $black