.board
  border: 1px dashed $black
  padding-top: 0
  padding-bottom: 0
  width: 3840px
  height: 2160px

  +transition-property(all)
  +transition-duration($fast)

  +transform(scale(1.0))
  +transform-origin(0 0)

  &.zoomed-out
    +transform(scale(0.5))
    +transform-origin(0 0)
