@mixin btn
  cursor: pointer
  background-color: $turquoise
  color: $white
  padding: 4px 2px
  font-weight: bold
  text:
    transform: uppercase
    decoration: none
    align: center

  &:disabled
    opacity: $translucent

  &:hover
    background-color: lighten($turquoise, 4%)
    text-decoration: none
    color: $white

  &:active
    background-color: lighten($turquoise, 2%)


.btn
  width: 100%
  display: inline-block
  +btn

.input-validation
  display: none
  float: right
  height: 0
  position: relative
  bottom: 24px
  pointer-events: none

form.slim
  font-size: 1.2em
  width: 500px
  margin: 0 auto

  label
    display: none

  .headline
    font-weight: normal
    text-align: center

  .field
    margin: 14px 0

  input, textarea
    min-width: 100%
    max-width: 100%
    font-family: $basic-fonts
    font-size: 14px
    border: 0
    display: block

    background: transparent
    +placeholder
      color: #555

    &[type="text"], &[type="password"], &[type="email"]
      padding: 3px 6px
      border-bottom: 1px dotted transparent

      &:hover, &:read-only
        border-bottom: 1px dotted $lightest-gray

      &:focus
        outline: 0
        border-bottom: 1px dotted $gray

        & ~ .input-validation
          display: block

        &:invalid ~ .input-validation:after
          color: $red
          content: "\2717" // Ballot 'x'

        &:valid ~ .input-validation:after
          color: $green
          content: "\2713" // Checkmark


    &[type="submit"]
      +btn

  textarea
    min-height: 100px
    border: 1px solid $off-white

