@mixin widget-markdown-rendered
  text-align: left
  font-size: 1em
  h1
    font-size: 1.3em
  h2
    font-size: 1.25em
  h3
    font-size: 1.15em
  h4, h5, h6
    font-size: 1em
  em
    font-style: italic
  code
    font-family: monospace
    white-space: pre
  blockquote
    border-left: 2px solid $black
    padding: 4px
    color: $black

  p
    margin: 10px 0

    &:last-child
      margin-bottom: 0
    &:first-child
      margin-top: 0

.widgets
  min-height: 100%
  position: relative

  .widget
    font-size: 0.5em
    position: absolute
    display: inline-block
    cursor: auto
    +user-select(none)

    // Prevent jittery border rendering
    border: 1px dotted transparent

    &.overlap
      // What to display when the user is trying to
      // overlap widgets.
      background-color: transparentize(red, 0.5)

      .widget-properties
        color: red
    .widget-content
      display: inline-block
      min-width: 100%
      min-height: 100%
      margin: 2px
      border: 1px dashed

    .widget-controls
      display: none
      position: absolute
      right: -38px
      top: -38px
      font-size: 3.6em
      opacity: 0.4

      &:hover
        opacity: 0.7
      .delete-widget
        padding: 0 8px
        text-decoration: none
        display: block
        border-radius: 20px
        background-color: hsla(0,0,0,0.2)

    .widget-properties
      display: none
      position: absolute
      top: -37px

      font-size: 1.5em
      opacity: 0.5

      &:hover
        opacity: 0.9

    .widget-image
      .timestamp
        position: absolute
        width: 200px
        top: 6px
        padding: 2px 4px
        float: left
        background: rgba(0,0,0,0.5)

        font-size: 1.1em
        font-style: italic
        text-align: right
        color: $white

        &:hover
          +transition-property(background)
          +transition-duration($fast)
          background: rgba(0,0,0,0.7)

      a
        display: block
        // Prevent users from accidentally click on images when zooming.
        pointer-events: none
      img
        max-width: 200px
        display: inline-block
    &.post
      .inner-widget
        // max-width: 200px
        padding: 5px

        word-wrap: break-word
        line-height: 10px

        background-color: transparentize($white, 0.3)
        border: 1px solid hsl(0, 0%, 98%)

        .body
          +widget-markdown-rendered
          max-width: 200px
          line-height: 13px

.ui-draggable
  cursor: crosshair
  cursor: -moz-grab
  cursor: -webkit-grab

  &.ui-draggable-dragging
    cursor: move
    cursor: -moz-grabbing
    cursor: -webkit-grabbing

    .widget-controls
      opacity: 0.1
    .widget-properties
      opacity: 0.9
.new-widget-modal
  display: none

  .preview
    display: none
    box-shadow: inset 1px 1px 10px #ccc
    margin-bottom: 10px
    padding: 4px 8px
    min-height: 30px

    background-color: rgb(250, 250, 250)
    .body
      +widget-markdown-rendered
      font-size: 0.8em

  .markdown-support
    font-size: 0.6em
    position: absolute
    text-align: right
    right: 55px
    margin: 5px
    text-transform: uppercase
    opacity: 0.15
    +user-select(none)

    &:hover
      +transition-property(opacity)
      +transition-duration($fast)
      opacity: 0.4

  input[type=file]
    opacity: 0
    margin-bottom: 10px
    padding: 5px
  .fake-file-upload
    float: left
    width: 0
    // The "button"
    &:before
      +btn
      display: inline-block
      position: relative
      content: "Choose Image"
      font-size: 0.7em
      font-weight: bold
      color: $white

      z-index: -1
      width: 135px
      background-color: $burnt-orange

      &:hover
        background-color: lighten($burnt-orange, 5%)

    // The file name field.
    &:after
      display: inline-block
      width: 300px
      top: -27px
      left: 145px
      position: relative
      content: attr(data-file)
      text-align: left

      // Loooong file names
      white-space: nowrap
      overflow: hidden
      text-overflow: ellipsis
